@charset "utf-8";
/* CSS Document */
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}}
[unselectable=on] { -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#game
{
  width:1000px; 
  height: 600px;
  margin: auto;
  display: block;	
}

#content
{
  background-image:url(Images/menuBackground.png); 
  width:1000px; 
  height: 600px;
  margin: auto;
  display: block;	
  border:thick #000;	
}

@font-face 
{
  font-family: AuldMagick;
  src: url("AuldMagick.ttf");
}
@font-face
{
  font-family: wolven;
  src: url("wolven.ttf");	
}

@font-face
{
  font-family: almendra;
  src: url("AlmendraSC-Regular.otf");	
}

#menuContent
{
	margin-top: 40px;
	position: absolute;	
}
#mainButtons
{
	margin-left: 10px;
}
#instructions
{
	font-family:almendra;
	font-size: 22px;
	letter-spacing: 1px;
	line-height: 30px;
	position: absolute;
	margin-left: 70px;
	z-index: 2;
	margin-top: 100px;
	width: 900px;
}

#credits
{
	font-family:almendra;
	font-size: 32px;
	font-weight:bolder;
	letter-spacing: 1px;
	line-height: 30px;
	position: absolute;
	margin-left: 140px;
	z-index: 2;
	margin-top: 220px;
}

#artists
{
	position: absolute;
	margin-left: 50px;
	width: 300px;	
}
#programmers
{
	position: absolute;
	margin-left: 400px;
	width: 400px;
}
a{text-decoration: none; color: #000;}
a:visited{text-decoration: none; color: #000;}

#playIdle
{
	position: absolute;
	font-family: almendra;
	font-color: #000;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	line-height: 55px;
	background-image: url(../newButtons/buttonDraftLarge.png);
	width: 250px;
	height: 60px;
	margin-top: 350px;
	margin-left: 200px;
}

#playIdle:hover{background-image: url(../newButtons/buttonDraftHoverLarge.png);}
#playIdle:active{background-image: url(../newButtons/buttonDraftActionLarge.png);}

#playIdle2
{
	margin-top: 520px;	
	margin-left: 860px;
	position: absolute;
	font-family: almendra;
	font-color: #000;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	line-height: 55px;
	background-image: url(../newButtons/buttonDraft.png);
	width: 120px;
	height: 60px;
}

#playIdle2:hover{background-image: url(../newButtons/buttonDraftHover.png);}
#playIdle2:active{background-image: url(../newButtons/buttonDraftAction.png);}

#creditsIdle
{
	margin-top: 80px;
	position: absolute;
	font-family: almendra;
	font-color: #000;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	line-height: 55px;
	background-image: url(../newButtons/buttonDraftLarge.png);
	width: 250px;
	height: 60px;
	margin-top: 430px;
	margin-left: 525px;

}
#creditsIdle:hover{background-image: url(../newButtons/buttonDraftHoverLarge.png);}
#creditsIdle:active{background-image: url(../newButtons/buttonDraftActionLarge.png);}

#instructionIdle
{
	margin-top: 160px;
	position: absolute;
	font-family: almendra;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	line-height: 55px;
	background-image: url(../newButtons/buttonDraftLarge.png);
	width: 250px;
	height: 60px;	
	margin-top: 430px;
	margin-left: 200px;
}
#instructionIdle:hover{background-image: url(../newButtons/buttonDraftHoverLarge.png);}
#instructionIdle:active{background-image: url(../newButtons/buttonDraftActionLarge.png);}

#loadIdle
{
	margin-top: 160px;
	position: absolute;
	font-family: almendra;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	line-height: 55px;
	background-image: url(../newButtons/buttonDraftLarge.png);
	width: 250px;
	height: 60px;
	margin-top: 350px;
	margin-left: 520px;	
}
#loadIdle:hover{background-image: url(../newButtons/buttonDraftHoverLarge.png);}
#loadIdle:active{background-image: url(../newButtons/buttonDraftActionLarge.png);}

#backToMainIdle1
{
	margin-left: 38px;
	margin-top: 30px;	
	position: absolute;
	font-family: almendra;
	font-color: #000;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	line-height: 55px;
	background-image: url(../newButtons/buttonDraft.png);
	width: 120px;
	height: 60px;
}
#backToMainIdle1:hover{background-image: url(../newButtons/buttonDraftHover.png);}
#backToMainIdle1:active{background-image: url(../newButtons/buttonDraftAction.png);}

#backToMainIdle2
{
	margin-left: 38px;
	margin-top: 30px;	
	position: absolute;
	font-family: almendra;
	font-color: #000;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	line-height: 55px;
	background-image: url(../newButtons/buttonDraft.png);
	width: 120px;
	height: 60px;
}

#backToMainIdle2:hover{background-image: url(../newButtons/buttonDraftHover.png);}
#backToMainIdle2:active{background-image: url(../newButtons/buttonDraftAction.png);}
#logo
{
	position: absolute;
	margin-left: 240px;
}