@charset "utf-8";
/* CSS Document */

@font-face
{
	font-family: nycs;
	src: url("../Menus/NothingYouCouldSay.ttf");
}

#TTubes
{
	z-index:auto
}

#Chems
{
	z-index:auto
}

.page
{
    background-size: 393px 480px;
    background-repeat:no-repeat;
    background-position:center;
}

.index
{
	margin-top:20px;
	margin-left:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	position:absolute;
}

.identification
{
	margin-top:20px;
	margin-left:100px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	position:absolute;
	width: 250px;
}
#identTitle
{
	margin-top:20px;
	margin-left:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:14px;
	font-weight:normal;
	position:absolute;
	width: 250px;
}

#merc {margin-top: 30px;margin-left: 20px;position: absolute;}
#lead{margin-top: 140px;margin-left: 20px;position: absolute;}
#bis {margin-top: 240px;position: absolute;margin-left: 20px;}
#copper1{margin-top: 340px;margin-left: 30px;position: absolute;}
#copper2{margin-top: 340;margin-left: 10px;position: absolute;}
#cad {margin-top: 20px;margin-left: 20px;position: absolute;}
#ars{margin-top: 110px;margin-left: 20px;position: absolute;}
#ant {margin-top: 200px;position: absolute;margin-left: 20px;}
#tin{margin-top: 310px;margin-left: 20;position: absolute;}


.completeProc:hover
{
	cursor: pointer;
	-webkit-animation-name: color_change_green;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
    -moz-animation-name: color_change_green;
   -moz-animation-duration: 3s;
	  -moz-animation-iteration-count: infinite;
	  animation-name: color_change_green;
	  animation-duration: 3s;
	  animation-iteration-count: infinite;
}
.para1
{
	margin-top:20px;
	margin-left:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	position:absolute;
	opacity: 1;
	visibility:visible;

}

.para2
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.para3
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.para4
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.para5
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.para6
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.para7
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.para8
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.para9
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.para10
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.para11
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.para12
{
	margin-left:20px;
	margin-top:20px;
	font-family: nycs;
	letter-spacing:1px;
	font-size:12px;
	font-weight:normal;
	visibility:hidden;
	position:absolute;
	opacity: 0;
}

.pulse {
  -webkit-animation-name: color_change_red;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: color_change_red;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  animation-name: color_change_red;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes color_change_red {
  from { color: #000;}
  50% {color:#900;}
  to { color: #000;}
}
@-moz-keyframes color_change_red {
  from { color: #000;}
  50% {color:#900;}
  to { color: #000;}
}
@-ms-keyframes color_change_red {
  from { color: #000;}
  50% {color:#900;}
  to { color: #000;}
}
}
@keyframes color_change_red {
   from { color: #000;}
  50% {color:#900;}
  to { color: #000;}
}

@-webkit-keyframes color_change_green {
  from { color: #000;}
  50% {color:#090;}
  to { color: #000;}
}
@-moz-keyframes color_change_green {
  from { color: #000;}
  50% {color:#090;}
  to { color: #000;}
}
@-ms-keyframes color_change_green {
  from { color: #000;}
  50% {color:#090;}
  to { color: #000;}
}
}
@keyframes color_change_green {
   from { color: #000;}
  50% {color:#090;}
  to { color: #000;}
}