@charset "utf-8";
/* CSS Document */

#rotateGame
{
	float: right;
	width: 1000px;
	height: 600px;
	z-index: 2;
	
}

#rotateConvas
{
	z-index: 3;	
	position: absolute;
	left: 170px;
	top: -8px;
	margin-left: 150px;
}