@charset "utf-8";
/* CSS Document */

#rotateGame
{
	float: right;
	width: 640px;
	height: 512px;
	z-index: 2;
	
}

#rotateConvas
{
	z-index: 1000;	
	position:relative;
	margin-left: 0px;
	margin-right: 0px;
	left: 100;
}