@charset "utf-8";
/* CSS Document */

#rotateGame
{
	float: right;
	width: 1000px;
	height: 600px;
	z-index: 2;
	
}

#rotateDirections
{
	z-index: 4;
	font-size:16px;
	position: absolute;
	left: 433px;
	top: 315px;
	width: 184px;
	color: white;
}

#rotateConvas
{
	z-index: 3;	
	position: absolute;
	left: 170px;
	top: -8px;
	margin-left: 150px;
}